.carousel
	.carousel__body
		.carousel__prev &lt; Prev
		.carousel__next Next &gt;
		.carousel__slider
			- items = [1, 2, 3, 4, 5];
			each val, index in items
				.carousel__slider__item
					.item__3d-frame
						.item__3d-frame__box.item__3d-frame__box--front
							img(src='assets/quotes/quote' + val + '.jpg')
						.item__3d-frame__box.item__3d-frame__box--left
						.item__3d-frame__box.item__3d-frame__box--right