footer
  .container
    .bg-foot
      .row
        .col-6.text-start
          h3.section-title anumys
          h5 Your guide to everything crypto
          .sm-icons
            a(href="javascript:void(0)")
              img(src="assets/footer/fb.png")
            a(href="javascript:void(0)")
              img(src="assets/footer/tw.png")
            a(href="javascript:void(0)")
              img(src="assets/footer/ins.png")
            a(href="javascript:void(0)")
              img(src="assets/footer/yt.png")
            a(href="javascript:void(0)")
              img(src="assets/footer/twi.png")
            a(href="javascript:void(0)")
              img(src="assets/footer/pi.png")
          a(href="javascript:void(0)") contact@anumys.crypto
        .col-3.text-start
          h3.section-title Resources
          br
          br
          a(href="javascript:void(0)") Blog
          br
          a(href="javascript:void(0)") FAQs
          br
          a(href="javascript:void(0)") Help & Support
        .col-3.text-start
          h3.section-title About
          br
          br
          a(href="javascript:void(0)") Company
          br
          a(href="javascript:void(0)") White Paper
          br
          a(href="javascript:void(0)") Press Releases