nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
	.container
		a.navbar-brand(href='javascript:void(0)') ANUMYS
		button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		.collapse.navbar-collapse.justify-content-end
			.navbar-nav
				a.nav-link(href='javascript:void(0)') About
				a.nav-link(href='javascript:void(0)') Features
				a.nav-link(href='javascript:void(0)') Pricing