section#section7
  .container
    .row.align-items-center
      .col.text-start
        h2.section-title Contact Us
        br
        br
        h3 Have a query? Or simply want to say hello?
          |  Do get in touch with our contact form
          |  for everything crypto related.
          br
          br
          | We try to respond to every message
          |  within 24 hours.
      .col
        .background
          .container
            .screen
              .screen-header
                .screen-header-left
                  .screen-header-button.close
                  .screen-header-button.maximize
                  .screen-header-button.minimize
                .screen-header-right
                  .screen-header-ellipsis
                  .screen-header-ellipsis
                  .screen-header-ellipsis
              .screen-body
                .screen-body-item
                  .app-form
                    .app-form-group
                      input.app-form-control(placeholder='NAME')
                    .app-form-group
                      input.app-form-control(placeholder='EMAIL')
                    .app-form-group
                      input.app-form-control(placeholder='CONTACT NO')
                    .app-form-group.message
                      textarea.app-form-control(placeholder='MESSAGE')
                    .app-form-group.buttons
                      button.btn-grad.mb-0 SEND