section#section1
  .container
    .row.text-start.align-items-center
      .col
        p
          h2 COFFEE. CRYPTO.
          h2 NAP. REPEAT.
          h3 Introducing&nbsp;
            strong ANUMYS&nbsp;
            | : The fastest real-time crypto
            | intelligence platform + fast-growing NFT repository.
            br
            | Did we mention we're an upcoming cryptocurrency too?
          button.btn.btn-grad(type='button') JOIN THE TREND
      .col
        #parallax-scene
          .ctn-img(data-depth="0.4")
            img(src="assets/crypto1.gif")
          .ctn-img(data-depth="0.2")
            img(src="assets/crypto1.gif")