section#section1
  .container
    .row.text-start.align-items-center
      .col-7
        p
          h2 COFFEE.
          h2 CRYPTO.
          br
          h2 NAP.
          h2 REPEAT.
          h3 Introducing&nbsp;
            strong ANUMYS&nbsp;
            | : The fastest real-time crypto
            | intelligence platform + fast-growing NFT repository.
            br
            | Did we mention we're an upcoming cryptocurrency too?
          button.btn.btn-grad(type='button') JOIN THE TREND
      .col
        #parallax-scene
          .ctn-img(data-depth="0.4")
            img(src="assets/gifs/crypto1.gif")
          .ctn-img(data-depth="0.2")
            img(src="assets/gifs/crypto1.gif")