section#section5
	div.container
		.row.align-items-center
			.col
			.col
				h2.text-end.section-title Inspiration
				br
				h3.text-end We're inspired by the Egyptian god of embalming and
					|  the afterlife -
					strong  ANUBIS
					| ; our mission is to be an accurate and trustworthy source
					| of information for everything crypto related.
					br
					br
					| We are also in the
					| process of launching our own coin crypto currency -
					strong  anumyscoin
					| , which is set to hit the market, end of Q1 next year.
				.spacer
				h3 Some of our
					strong  anumyscoin
					|  logo prototypes
				div.d-flex.justify-content-center
					.coin#coin1
						include coin
					.coin#coin2
						include coin
					.coin#coin3
						include coin
				div.d-flex.justify-content-center
					.coin#coin4
						include coin
					.coin#coin5
						include coin