section#section2
  div.container
    .row
      .col
        h2 WHY ANUMYS
        br
        h3 Crowdsourced and professionally curated research
          | , analysis, trading signals / algorithms,
          | and market moving news to give cryptocurrency
          | traders the&nbsp;
          strong real-time market intelligence&nbsp;
          | needed to gain an edge.
    .row.ctn-gif
      .col.d-flex.justify-content-center
        .card
          .card-header
            img(src="assets/why-anumys/cg1.gif")
          .card-body
            .card-title Accurate
      .col.d-flex.justify-content-center
        .card
          .card-header
            img(src="assets/why-anumys/cg2.gif")
          .card-body
            .card-title LOW RISK
      .col.d-flex.justify-content-center
        .card
          .card-header
            img(src="assets/why-anumys/cg3.gif")
          .card-body
            .card-title Fully SECURE
    .row.ctn-gif
      .col.d-flex.justify-content-center
        .card
          .card-header
            img(src="assets/why-anumys/cg4.gif")
          .card-body
            .card-title Minimal Fee
      .col.d-flex.justify-content-center
        .card
          .card-header
            img(src="assets/why-anumys/cg5.gif")
          .card-body
            .card-title DEVICE Agnostic
      .col.d-flex.justify-content-center
        .card
          .card-header
            img(src="assets/why-anumys/cg6.gif")
          .card-body
            .card-title CUSTOMIZABLE