section#section1
  .container
    .row.text-start.align-items-center
      .col
        p
          h2 COFFEE. CRYPTO.
          h2 NAP. REPEAT.
          h3 Introducing ANUMYS: The fastest real-time crypto
            | intelligence platform + fast-growing NFT repository.
          button.btn.btn-grad(type='button') JOIN THE TREND
          //h3 Crowdsourced and professionally curated research
            | , analysis, trading signals / algorithms,
            | and market moving news to give cryptocurrency
            | traders the real-time market intelligence needed
            | to gain an edge.
      .col
        #parallax-scene
          img.main(src="assets/crypto3.gif", data-depth="0.6")
          img.main(src="assets/crypto3.gif", data-depth="0.8")
          img.main(src="assets/crypto3.gif", data-depth="1")
        //img.main(src="assets/crypto1.gif")
        //p Dive into anumys, the latest nft trend.
        //p
          strong focus on performance and powerful features.
