section#section6
	div.container
		.row
			.col
				h2 Testimonials
				br
				h3 Crowdsourced and professionally curated research
					| , analysis, trading signals / algorithms,
					| and market moving news to give cryptocurrency
					| traders the&nbsp;
					strong real-time market intelligence&nbsp;
					| needed to gain an edge.