section#section3
  #ticker1.ticker-wrapper
    ul.list
      li
        .tick-box
          | BTC/GBP
          span.nt &nbsp;-5.59%
          br
          span.wt 11,560
          |
          span.gt &nbsp;GBP
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;773
            |  BTC
      li
        .tick-box
          | BTC/USD
          span.pt &nbsp;+2.25%
          br
          span.wt 14,723
          |
          span.gt &nbsp;USD
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;24,794
            |  BTC
      li
        .tick-box
          | ETH/BTC
          span.pt &nbsp;+6.07%
          br
          span.wt 0.52
          |
          span.gt &nbsp;BTC
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;67,765
            |  ETH
      li
        .tick-box
          | LTC/USD
          span.pt &nbsp;+4.95%
          br
          span.wt 262.19
          |
          span.gt &nbsp;USD
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;491,842
            |  LTC
      li
        .tick-box
          | BTC/EUR
          span.nt &nbsp;-3.44%
          br
          span.wt 13,479.44
          |
          span.gt &nbsp;EUR
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;7,992
            |  BTC
      li
        .tick-box
          | LTC/BTC
          span.pt &nbsp;+2.25%
          br
          span.wt 0.02
          |
          span.gt &nbsp;BTC
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;3,002
            |  LTC
      li
        .tick-box
          | ETH/USD
          span.nt &nbsp;-2.49%
          br
          span.wt 642.33
          |
          span.gt &nbsp;USD
          br
          span.t-foot.gt
            | Volume:
            span.wt &nbsp;12,873
            |  ETH
  div.container.mt-4
    .row
      .col
        h3 We are heavily invested in the usage of
          strong  artificial intelligence
          |  and its applications to crypto
          | platforms worldwide. Our market research
          | provides all necessary and relevant, updated information
          | to our customers in real-time!
