section#section3
  #ticker1.ticker-wrapper
    ul.list
      li
        span.outline-text Bienvenue
        | &#x9;&#x9;&#x9;
        span.dash &bull;
      | &#x9;&#x9;
      li
        span.outline-text Welcome
        | &#x9;&#x9;&#x9;
        span.dash &bull;
      | &#x9;&#x9;
      li
        span.outline-text Ola
        | &#x9;&#x9;&#x9;
        span.dash &bull;
  div.container
    .row
      .col
        h2 TICKER HERE