section#section5
	div.container
		.row.align-items-center
			.col
			.col
				h2.text-end.section-title Inspiration
				br
				h3.text-end We're inspired by the Egyptian god of embalming and
					|  the afterlife -
					strong  ANUBIS
					| ; our mission is to be an accurate and trustworthy source
					| of information for everything crypto related.
					br
					br
					| We are also in the
					| process of launching our own coin crypto currency -
					strong  anumyscoin
					| , which is set to hit the market, end of Q1 next year.
		.row.align-items-center
			.col
				h2.section-title anumyscoin prototypes
				div
					.coin#euro
						article.back
						article.middle
						article.middle
						article.middle
						article.middle
						article.middle
						article.middle
						article.middle
						article.middle
						article.middle
						article.front