section#section4
	.container
		.row.align-items-center
			.col.ctn-title-bg
				h2.text-start.section-title.l Our Process
				br
				h3.text-start We use a combination of
					strong  machine learning
					|  and
					strong  artificial intelligence
					|  in order to generate predictions for short-term and long-term
					| intelligence data for crypto and NFT investors.
					br
					br
					| Set to match industry standards, and paving the way
					|  everyday for newer innovations, we at
					strong  anumys
					|  bring out the best results for your crypto query, presenting all
					| the information you need to ride high on the crypto wave!
			.col.d-flex.justify-content-center
				.ctn-process.d-grid
					.a
						img(src="assets/gifs/crypto2.gif")
					.b
						img(src="assets/gifs/crypto3.gif")
					.c
						img(src="assets/gifs/crypto4.gif")
					.d
						img(src="assets/gifs/crypto5.gif")