section#section4
	div.container
		.row
			.col
				h2.text-start.section-title Inspiration
				br
				h3.text-start We're inspired by the Egyptian god of embalming and
					|  the afterlife -
					strong  ANUBIS
					| ; our mission is to be an accurate and trustworthy source
					| of information for everything crypto.
					br
					br
					| We are also in the
					| process of launching our own coin crypto currency -
					strong  anumyscoin
					| , which is set to hit the market, end of Q1 next year.
			.col
				| Anurag