section#section3
  #ticker1.ticker-wrapper
    ul.list
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          br
          span.wt 11,560
          |
          span.gt GBP
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/USD
          span.nt +2.25%
          br
          span.wt 14,723
          |
          span.gt USD
          br
          span.t-foot.gt
            | Volume:
            span.wt 24,794
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
      li
        .tick-box
          | BTC/GBP
          span.nt -5.59%
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.wt 11,560
          |
          span.gt GBP
          | &#x9;&#x9;&#x9;&#x9;&#x9;    &#x9;&#x9;
          br
          span.t-foot.gt
            | Volume:
            span.wt 773
            |  BTC
  div.container
    .row
      .col
        h2 TICKER HERE