@font-face {
	font-family: 'Chypre Italic Thin';
	src: url('../fonts/Chypre Norm Thin Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Futurism';
	src: url('../fonts/Futurism.otf') format('opentype');
}