@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'fonts';

::-webkit-scrollbar{
	height: 4px; width: 10px;
	background: rgba(#000, .8);
}
::-webkit-scrollbar-thumb {
	background: rgba(#ddd, .26);
}

html {
	font-size: $font-size;
	font-family: $font-family-pr;
	color: $font-color;
	line-height: 1.4;
}

body{
	text-align: center;
	overflow-x: hidden;
	font-family: $font-family-pr;
	color: $font-color;
	background: linear-gradient(72deg, rgba(30,18,66,1) 0%, rgba(63,11,71,1) 100%);
	background-attachment: fixed;

	nav.navbar{
		padding-top: 0;
		padding-bottom: 0;
		backdrop-filter: blur(5px);
		background: none!important;
		box-shadow: 0px 1px 5px 1px rgba($w, .2);
		.navbar-brand{
			font-size: 50px;
		}
		.navbar-collapse{
			.nav-link{
				font-size: 26px;
				margin-left: 15px;
			}
		}
	}

	div#ctn-three{
		//border: 5px solid yellowgreen;
		z-index: -1;
		position: fixed;
		top: 0; left: 0;
		height: 100vh;
		width: 100vw;
	}

	@import 'sections';

	footer{
		padding: 5vh;
	}

	.dg {
		&.ac { z-index: 1032; }
	}
}