@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import 'fonts';

::-webkit-scrollbar{
	height: 4px; width: 10px;
	background: rgba(#000, .8);
}
::-webkit-scrollbar-thumb {
	background: rgba(#ddd, .26);
}

html {
	font-size: $font-size;
	font-family: $font-family-pr;
	color: $font-color;
	line-height: 1.4;
}

body{
	text-align: center;
	overflow-x: hidden;
	font-family: $font-family-pr;
	color: $font-color;
	background: linear-gradient(72deg, rgba(30,18,66,1) 0%, rgba(63,11,71,1) 100%);
	background-attachment: fixed;

	nav.navbar{
		padding-top: 3vh;
		//backdrop-filter: blur(10px);
		//background: none!important;
		.navbar-brand{
			font-size: 50px;
		}
		.navbar-collapse{
			.nav-link{
				font-size: 26px;
				margin-right: 15px;
			}
		}
	}

	div#ctn-three{
		//border: 5px solid yellowgreen;
		z-index: -1;
		position: fixed;
		top: 0; left: 0;
		height: 100vh;
		width: 100vw;
	}

	section{
		position: relative;
		z-index: 1;
		height: 100vh;
		width: 100vw;
		padding: 5vh;
		//outline: 1px solid yellowgreen;
		h1{
			color: $font-color;
			margin: 0 0 2rem;
			font-size: 72px;
			text-shadow: 0px 0px 2px #fff;
		}
		h3{
			font-family: $font-family-sc;
		}
		&#section1{
			height: calc(100vh - 120px);
			//background: rgba(#000, .2);
		}
		&#section2{
			//background: rgba(#0e09f0, .3);
		}
		&#section3{
			//background: rgba(#f088ac, .3);
		}
	}

	footer{
		padding: 5vh;
	}

	.dg {
		&.ac { z-index: 1032; }
	}
}