doctype html
html(lang="en")
  head
    title= title
    body
      h1 ANUMYS
      h1 ANUMIS
      #container.col
        p Pug is a terse and simple templating language with a
          strong focus on performance and powerful features.
